table {
    border-collapse: collapse;
    width: 50%;
  }
  
  table, th, td {
    border-bottom: 1px solid gray;
  }
th {
    text-align: left;
}
td {
    vertical-align: top;
}
nav a {
  list-style: none;
  /* background-color: #400080; */
  background-color: #ddd;
  text-align: center;
  padding: 0;
  margin: 0;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-decoration: none;
  color: #000099;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #4400cc;
  color: white;
  text-decoration: none;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  nav a {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
  }
   nav a {
    display: inline-block;
    margin-right: -4px;
  }
}